<div class="container">
  <div style="text-align: center; margin-bottom: 30px;">
    <h2>Buscar Logs por Usuario y Rango</h2>
  </div>

  <div class="filtro-container">

    <mat-form-field appearance="outline" class="filtro-item">
      <mat-label>ID Usuario</mat-label>
      <input matInput type="number" [(ngModel)]="filtroId" placeholder="Ej. 1">
    </mat-form-field>

    <mat-form-field appearance="outline" class="filtro-item">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio">
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filtro-item">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin">
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="buscar()" class="btn-buscar">
      <mat-icon>search</mat-icon> Buscar
    </button>
  </div>

  <div *ngIf="mensaje" class="mensaje-alerta">
    {{ mensaje }}
  </div>

  <div class="mat-elevation-z8" *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idLogAcceso}} </td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaAcceso | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> IP </th>
        <td mat-cell *matCellDef="let element"> {{element.ipAcceso}} </td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Navegador </th>
        <td mat-cell *matCellDef="let element"> {{element.navegadorAcceso}} </td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Sist. Operativo </th>
        <td mat-cell *matCellDef="let element"> {{element.sistemaoperativoAcceso}} </td>
      </ng-container>

       <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario.username}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
