<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Historial de Accesos</h2>
  </div>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idLogAcceso}} </td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef> Fecha/Hora </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaAcceso | date:'dd/MM/yyyy HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef> IP </th>
        <td mat-cell *matCellDef="let element"> {{element.ipAcceso}} </td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef> Navegador </th>
        <td mat-cell *matCellDef="let element"> {{element.navegadorAcceso}} </td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef> Sist. Operativo </th>
        <td mat-cell *matCellDef="let element"> {{element.sistemaoperativoAcceso}} </td>
      </ng-container>

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario.username}} </td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" [routerLink]="['/logacceso/edicion', element.idLogAcceso]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef> Borrar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="eliminar(element.idLogAcceso)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
