<div class="home-wrapper">

  <!-- LOGO -->
  <div class="logo-wrapper">
  <img src="/assets/logosmenu/logo.png" alt="SafeZone Logo" class="logo-img">
  <h1 class="safezone-title">SafeZone</h1>
</div>

  <!-- CARD PRINCIPAL -->
  <div class="info-card glass-card">
    <h1 class="titulo">Bienvenido a <span>SafeZone</span></h1>

    <div class="card-contenido">
      <img src="/assets/logosmenu/logo.png" alt="Escudo" class="escudo">

      <div class="texto">
        <h2>Tu espacio digital seguro.</h2>
        <p>
          Gestiona tu privacidad, detecta riesgos, escanea archivos y aprende a proteger tus datos en un solo lugar.
        </p>

        <h3>Misión:</h3>
        <p>
          Crear una plataforma accesible que combine protección y educación digital para que los usuarios refuercen su seguridad online.
        </p>

        <h3>Visión:</h3>
        <p>
          Ser la plataforma líder en privacidad digital, destacada por su innovación, simplicidad y compromiso con la protección de datos personales.
        </p>
      </div>
    </div>

    <!-- BOTONES -->
    <div class="botones">
      <button class="btn neon" (click)="IniciarSesion()">Iniciar Sesión</button>
      <button class="btn neon" (click)="Registrar()">Registrarse</button>
    </div>
  </div>

</div>
