<div class="form-wrapper">

  <div class="glass-card">

    <h2 class="title">
      {{ edicion ? '✏️ Editar Archivo' : '📁 Registrar Archivo' }}
    </h2>

    <form [formGroup]="form" (submit)="aceptar()" class="form-content">
      
      @if(edicion){
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
      </mat-form-field>
      }

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
        <mat-error>
          @if (form.get('nombre')?.hasError('required')) { Ingrese nombre del dispositivo!! }
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo" required>
          @for (p of tipos; track p.value) {
          <mat-option [value]="p.value">
            {{ p.viewValue }}
          </mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('tipo')?.hasError('required')) { El campo tipo es obligatorio. }
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          @if (form.get('fecha')?.hasError('required')) { Ingrese fecha de dispositivo!! }
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="fk">
          @for (a of listaUsuarios; track a) {
          <mat-option [value]="a.id">{{ a.username }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="neon-btn">
        {{ edicion ? '🚀 Actualizar' : '✨ Registrar' }}
      </button>

    </form>
  </div>
</div>
