<div class="glass-card">
  <div class="container">
    <div style="text-align: center; margin: 5%">
      <h2>{{ edicion ? 'Editar Usuario' : 'Registrar Usuario' }}</h2>
    </div>
    <div style="text-align: center; margin: 5%">
      <form [formGroup]="form" (submit)="aceptar()">

        @if(edicion){
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" />
          <mat-error>
            @if (form.get('codigo')?.hasError('required')) { Ingrese codigo del Usuario!! }
          </mat-error>
        </mat-form-field>
        }

        <br />
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error>
            @if (form.get('username')?.hasError('required')) { Ingrese el username del Usuario!! }
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contraseña" />
          <mat-error>
            @if (form.get('contraseña')?.hasError('required')) { Ingrese la contraseña del Usuario!! }
          </mat-error>
        </mat-form-field>

        <br />
        <div class="radio-zone">
          <mat-radio-group aria-label="Select an option" formControlName="estado">
            <mat-radio-button [value]="true">Activa</mat-radio-button>
            <mat-radio-button [value]="false">Inactiva</mat-radio-button>
          </mat-radio-group>
        </div>

        <br />
        <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombres" />
          <mat-error>
            @if (form.get('nombres')?.hasError('required')) { Ingrese los nombres del Usuario!! }
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="apellidos" />
          <mat-error>
            @if (form.get('apellidos')?.hasError('required')) { Ingrese los apellidos del Usuario!! }
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error>
            @if (form.get('email')?.hasError('required')) { Ingrese el email del Usuario!! }
          </mat-error>
        </mat-form-field>

        <br />
        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="telefono" />
          <mat-error>
            @if (form.get('telefono')?.hasError('required')) { Ingrese el telefono del Usuario!! }
          </mat-error>
        </mat-form-field>

        <br />
        <div>
          <button matButton="elevated">{{ edicion ? 'Actualizar' : 'Registrar' }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
